body {
  font-family: Arial, sans-serif;
  background-color: #ffbdf1;
  padding: 20px;
}

h1, h2 {
  color: #030303;
}

form input, form button {
  margin: 5px 0;
  padding: 8px;
  width: 250px;
}

button {
  background-color: #bdeeff;
  color: #ffcdb8;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0f3936;
}

.error {
  color: #ffa3fc;
}
